.HomePageSecontion2{
    height: 100vh;
    /* background-color: #012166; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carousle_images{
    height: 60%;
    /* background-color: #012166; */
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}
.Text_heading{
    height: 10%;
    /* background-color: #012166; */
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}